body {
    background: #eeeeee;
    overflow: auto;
    overflow-x: hidden;
    text-align:center;
    height: 100%;
    font-family: Arial;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #551a8b;
}

a:hover {
    text-decoration: underline;
}

.clear {
    clear: both;
}

/*.chronoform {
    display:none;
}*/

#principal {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

#principal #en-tete {
    min-height: 220px;
    width: 100%;
    /*background: url('/bundles/edccommon/images/general/bg-header.jpg') repeat;
    background-position: 0 100%;*/
    position: relative;
}

#principal #en-tete .zone-banniere {
    width: 100%;
    height: 150px;
    padding: 15px 0;
}

#principal #en-tete .zone-banniere .banniere img {
    display: inline-block;
}

#principal #en-tete .zone-banniere .vignette {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 0 5px;
}

#principal #en-tete .zone-banniere a {
    background: none;
    display: block;
}

#principal #en-tete .menu-principal {
    /*background: #cccccc;*/
    /*position: absolute;
    bottom: 0px;*/
    background: url('/bundles/edccommon/images/general/bg-header.jpg') repeat;
    background-position: 0 100%;
    width: 100%;
    text-align: center;
    padding-top: 175px;
    padding-bottom: 15px;
}

#principal #en-tete .menu-principal > ul {
    list-style: none;
}

#principal #en-tete .menu-principal > ul > li {
    display: inline-block;
    margin: 0 5px;
    height: 30px;
}

#principal #en-tete .menu-principal > ul > li > a,
#principal #en-tete .menu-principal > ul > li > span.separator {
    display: block;
    padding: 0 15px;
    color: #eeeeee;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    /*border-radius: 5px 5px 0px 0px;*/
    z-index: 11;
    cursor: pointer;
}

#principal #en-tete .menu-principal > ul > li > a:hover,
#principal #en-tete .menu-principal > ul > li.parent:hover > a {
    /*background: #c1c1c1;*/
    text-decoration: underline;
    /*color: #000000;
    z-index: 11;*/
}

#principal #en-tete .menu-principal > ul > li.parent {
    position: relative;
}

#principal #en-tete .menu-principal > ul > li.parent > ul {
    position: absolute;
    top: 29px;
    /*display: block;*/
    z-index: 10;
    background: #eeeeee;
    /*background: #c1c1c1;*/
    /*border: 1px solid #000000;*/
    min-width: 160px;
    /*padding: 0px 0 10px 0;*/
    border-radius: 0 0 5px 5px;
    text-align: left;
    margin-top: 1px;
    border-bottom: 1px solid #b2cde5;
    border-left: 1px solid #b2cde5;
    border-right: 1px solid #b2cde5;
    display: none;
}

#principal #en-tete .menu-principal > ul > li.parent > ul > li {
    display: block;
}

#principal #en-tete .menu-principal > ul > li.parent > ul > li > a {
    display: block;
    color: #000000;
    padding: 10px 10px 10px 15px;
    border-top: 1px solid #b2cde5;
    font-size: 14px;
}

#principal #en-tete .menu-principal > ul > li.parent > ul > li > a:hover {
    background: #dddddd;
    text-decoration: none;
}

#principal #en-tete .menu-principal #login-form {
    position: absolute;
    right: 0;
}

#principal #pied-de-page {
    width: 100%;
    min-height: 160px;
    background: url('/bundles/edccommon/images/general/bg.jpg') repeat;
    text-align: center;
    float: bottom;
}

#principal #pied-de-page .zone-pied-de-page {
    width: 900px;
    margin: 0 auto;
    padding: 10px 0;
}

#principal #pied-de-page .zone-pied-de-page ul.menu {
    float: left;
    display: block;
    margin-top: 6px;
}

#principal #pied-de-page .zone-pied-de-page ul.menu > li:first-child {
    margin-right: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #b2cde5;
}

#principal #pied-de-page .zone-pied-de-page ul.menu > li {
    float: left;
    display: block;
    color: #eeeeee;
}

#principal #pied-de-page .zone-pied-de-page ul.menu > li > a {
    color: #eeeeee;
    font-size: 16px;
    font-weight: bold;
    padding: 0 15px;
    height: 30px;

}

#principal #pied-de-page .zone-pied-de-page .custom_reseaux {
    float: right;
}

#principal #pied-de-page .zone-pied-de-page .custom_reseaux a:first-child {
    margin-left: 0;
}

#principal #pied-de-page .zone-pied-de-page .custom_reseaux a {
    margin-left: 6px;
    display: block;
    float: left;
}

#principal #pied-de-page .zone-pied-de-page .custom_adresse {
    font-size: 16px;
    font-weight: bold;
    color: #b2cde5;
    text-align: left;
}

#page {
    width: 960px;
    margin: 20px auto;
    text-align: left;
}

#page .slider-wrapper{
    margin-bottom: 15px;
}

#page .custom_presentation {
    width: 658px;
    min-height: 258px;
    padding: 20px;
    background: #dddddd;
    border: 1px solid #b2cde5;
    float: left;
}

#page .custom_jeunes {
    width: 233px;
    float: right;
    margin-bottom: 15px;
    background: #dddddd;
    border: 1px solid #b2cde5;
    min-height: 278px;
    padding: 10px 5px;
}

#page .custom_presentation h2,
#page .custom_jeunes h2 {
    font-size: 24px;
    color: #000000;
    font-weight: bold;
}

#page .custom_presentation h3 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 24px;
}

#page .custom_presentation h4 {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    line-height: 20px;
}

#page .custom_presentation p,
#page .custom_jeunes p {
    font-size: 14px;
    color: #505050;
    line-height: 18px;
}

#page .custom_presentation p strong,
#page .custom_jeunes p strong {
    font-weight: bold;
    color: #000000;
}

#page .custom_presentation p + h3,
#page .custom_presentation h2 + h3 {
    margin-top: 20px;
}

#page .custom_presentation p + h2 {
    margin-top: 30px;
}

#page .custom_presentation p + p,
#page .custom_jeunes p + p {
    margin-top: 10px;
}

#page .custom_presentation h2 + p,
#page .custom_jeunes h2 + p,
#page .custom_presentation h3 + p {
    margin-top: 10px;
}

#page iframe.google-calendar {
    width: 243px;
    height: 288px;
    background: #dddddd;
    border: 1px solid #b2cde5;
    float: right;
    margin-bottom: 15px;
    padding: 5px 0;
}

#page ul.category-module_liste_news {
    width: 235px;
    float: right;
    margin-bottom: 15px;
    background: #dddddd;
    border: 1px solid #b2cde5;
    min-height: 278px;
    padding: 10px 5px;
}

#page ul.category-module_liste_news li {
    list-style: outside;
    margin-left: 15px;
}

#page ul.category-module_liste_news li + li {
    margin-top: 10px;
}

#page ul.category-module_liste_news li h4 {
    display: inline;
}

#page ul.category-module_liste_news li h4 a {
    color: #000000;
}

#page ul.category-module_liste_news li span.mod-articles-category-date {
    color: #505050;
    font-size: 12px;
}


/*#page .slider-wrapper {
    margin: 0 auto 20px auto;
}

#page .slider-wrapper .nivoSlider {
    max-width: 700px;
    max-height: 300px;
    float: left;
}

#page .slider-wrapper .nivoSlider .nivo-caption {
    background: #eeeeee;
    width: 250px;
    height: 300px;
    position: relative;
    float: left;
    moz-box-shadow: 0 1px 5px 0 #4A4A4A;
    webkit-box-shadow: 0 1px 5px 0 #4A4A4A;
    box-shadow: 0 1px 5px 0 #4A4A4A;
}*/

#principal #fil-de-fer {

    background: url('/bundles/edccommon/images/general/bg-header.jpg') repeat-x;
    overflow-x: hidden;
}


/* A séparer ensuite */

#page .item-page,
#page #xmap {
    width: 918px;
    padding: 20px;
    background: #dddddd;
    border: 1px solid #b2cde5;
}

#page .item-page h1,
#page #xmap h1 {
    font-size: 28px;
    color: #000000;
    font-weight: bold;
}

#page .item-page h2 {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    line-height: 24px;
}

#page .item-page h3 {
    font-size: 16px;
    color: #000000;
    font-weight: bold;
    line-height: 20px;
}

#page .item-page p {
    font-size: 14px;
    color: #505050;
    line-height: 18px;
}

#page .item-page p strong {
    font-weight: bold;
    color: #000000;
}

#page .item-page p + h2,
#page .item-page h1 + h2 {
    margin-top: 20px;
}

#page .item-page p + h2 {
    margin-top: 30px;
}

#page .item-page p + p,
#page .item-page p + ul,
#page #xmap h1 + ul {
    margin-top: 10px;
}

#page .item-page h2 + p,
#page .item-page h3 + p {
    margin-top: 5px;
}

#page .item-page ul li,
#page #xmap ul li {
    list-style: outside;
    margin-left: 15px;
    color: #505050;
}

#page #xmap ul li a {
    color: #505050;
}

#page .item-page ul li + li,
#page #xmap ul + ul,
#page #xmap ul li + li,
#page #xmap ul li a + ul {
    margin-top: 10px;
}


#page .item-page ul li h4 {
    display: inline;
}

#page .item-page ul li h4 a {
    color: #000000;
}