<div class="zone-pied-de-page">
    <div class="liens">
        <ul class="menu">
            <li class="item-180">
                <span class="separator">© 2012 Écho de Charbonnières</span>
            </li>
            <li class="item-181"><span class="separator">-</span>
            </li>
            <li class="item-182">
                <a href="/mentions-legales" >Mentions légales</a>
            </li>
            <li class="item-183"><span class="separator">-</span>
            </li>
            <li class="item-184">
                <a href="/plan-du-site" >Plan du site</a>
            </li>
            <li class="item-185"><span class="separator">-</span>
            </li>
            <li class="item-186">
                <a href="/nous-contacter" >Contact</a>
            </li>
        </ul>
        <div class="custom_reseaux">
            <p>
                <a href="https://www.facebook.com/pages/Harmonie-LÉcho-de-Charbonnières/251954274899281" title="Facebook" target="_blank">
                    <img src="{{ asset('/bundles/edccommon/images/logo/facebook-logo.png') }}" alt="Facebook" border="0" />
                </a>
                <a href="https://plus.google.com/106183093716228104676" title="Google Plus" rel="publisher" target="_blank">
                    <img src="{{ asset('/bundles/edccommon/images/logo/google-plus-logo.png') }}" alt="Google +" border="0" />
                </a>
                <a href="https://twitter.com/EdC_Aiguebelle" title="Twitter" target="_blank">
                    <img src="{{ asset('/bundles/edccommon/images/logo/twitter-logo.png') }}" alt="Twitter" border="0" />
                </a>
            </p>
        </div>
        <div class="clear"></div>
    </div>
    <div class="custom_adresse"  >
        <p>6 Allée du Chateau 73220 Aiguebelle</p>
    </div>
</div>