<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ app.request.locale }}" lang="{{ app.request.locale }}">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="{% block keyword %}echo de charbonnieres, harmonie, harmonies, ensemble, école musique, instruments, instrument musique, musique, association, société musicale, aiguebelle, maurienne, savoie, france{% endblock keyword %}" />
    <meta name="description" content="{% block description %}Association qui réunit chaque samedi des musiciens de tous âges, de tous horizons, autour d'une même passion : la Musique. Avec à la clef (de sol) de belles amitiés !{% endblock description %}" />
    <title>L'Écho de Charbonnières - {% block title %}Accueil{% endblock title %}</title>
    <link href="/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    {#<link rel="stylesheet" href="{{ asset('/bundles/edccommon/css/commun.css') }}" type="text/css" />#}
{% stylesheets 'bundles/edccommon/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
</head>
<body>
    <div id="principal">
        <div id="en-tete">
            {% render(controller('EdcCommonBundle:Layout:header')) %}
        </div>

        <div id="page">
            {% block contenu %}{% endblock contenu %}
        </div>

        <div id="pied-de-page">
            {% render(controller('EdcCommonBundle:Layout:footer')) %}
        </div>

    </div>

{#filter='?yui_js'#}
{% javascripts
    '@EdcCommonBundle/Resources/public/js/jquery-1.9.1.min.js'
    '@EdcCommonBundle/Resources/public/js/jquery.fullscreen.js'
    '@EdcCommonBundle/Resources/public/js/general.js'
    '@EdcCommonBundle/Resources/public/js/en-tete.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-34669515-1']);
        _gaq.push(['_setDomainName', 'echo-de-charbonnieres.fr']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</body>
</html>
